
.task {
  float: left;
  height: 220px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: white;
  margin-bottom: 5px;
}

.task-image {
  width: 25%;
  height: 100px;
  float: left;
  position: relative;
}
.task-image img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center right;
}

.task-name {
  float: left;
  width: 50%;
  height: 100px;
  position: relative;
}

.task-name p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight:550;
}

.container-task-icon {
  float: left;
  width: 25%;
  height: 100px;
}

.container-task-icon p {
  width: 100%;
  float: left;
  font-size: 14px;
  text-align: center;
  color: rgba(248,148,6,1);
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
}
.container-task-icon .karma {
	font-weight: 400;
	font-size: 25px;
	padding-right: 10px;
}
.container-task-icon .plus {
	font-size: 20px;
	padding-right: 10px;
}



.hidden {
  display:none;
}

.open {
  height: 100px important!
}

.content {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 200;
padding: 0 20px;
padding-top: 10px;
text-justify: center;
}

.completed {
  width: 50%;
  margin-left: 25%;
  border: 1px solid rgba(248, 148, 6, 1);
  border-radius: 20px;
  height: 30px;
  margin-top: 20px;
  background: none;
  color: rgba(248, 148, 6, 1);
  cursor: pointer;
}

.completed:hover {
  color: white;
  background-color: rgba(248, 148, 6, 1);
}

*:focus {
  outline: none;
}
